.buttonContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

button {
  width: 45px;
  height: 45px;
  margin: 7px;
  font-size: 25px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}
.num {
  background: #4e837c;
  color: #ffffff;
}
.operator {
  background: #ff9500;
  color: #ffffff;
}
.equals {
  background: #ff3b30;
  color: #ffffff;
}
.clear {
  background: #4a6651;
  color: #ffffff;
}
.button:hover {
  filter: brightness(1.2);
}
.button:active {
  transform: scale(0.95);
}