body {
  background: radial-gradient(circle, #1b3a36 20%, #0c1b1a 80%);
  height: 100vh;
  margin: 0;
}
.calculator {
  width: 250px;
  background: rgba(40, 60, 55, 0.9);
  border: 10px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  box-shadow: 20px 30px 30px rgba(0, 0, 0, 0.6);
  padding: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
}